@media (min-width : 760px) and (max-width : 1000px){
  .landing-page__header{
    .landing-page__nav-main{
      width: 90vw;
      .landing-page__navigation{
        width: 60%;
      }
    }
  }
  .landing-page__hero{
    .landing-page__intro{
      width: 90vw;
    }
    &::before{
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 300px;
      height: 230px;
      background-color: hsl(231, 69%, 60%);
      border-radius: 10pc 0 0 10pc;
    }
  }
  .download-extension__wrapper{
    width: 100%;
    .download-extension__info{
      p{
        width: 90%;
      }
    }
    .download-entension__cards{
      display: grid;
      grid-template-columns: auto auto;
      gap: 10px 0;
      align-items: center;
    }
  }
}