@import url("https://fonts.google.com/specimen/Rubik");
@import url("https://fonts.google.com/specimen/Rubik");
.landing-page__header.mobile-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(37, 43, 70, 0.8);
}

.landing-page__header {
  width: 100%;
  height: 100%;
}

.landing-page__header .landing-page__nav-main {
  display: flex;
  width: 80vw;
  margin: 2rem auto;
  background-color: transparent;
  justify-content: space-between;
  align-items: center;
}

.landing-page__header .landing-page__nav-main .landing-page_nav_togglers {
  display: none;
}

.landing-page__header .landing-page__nav-main .landing-page__navigation {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Rubik, Arial;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}

.landing-page__header .landing-page__nav-main .landing-page__navigation .nav-link {
  text-decoration: none;
  color: #000;
}

.landing-page__header .landing-page__nav-main .landing-page__navigation .nav-link:active, .landing-page__header .landing-page__nav-main .landing-page__navigation .nav-link:hover {
  color: #fa5757;
}

.landing-page__header .landing-page__nav-main .landing-page__navigation .landing-page__login {
  width: 5rem;
  outline: none;
  color: #fff;
  background-color: #fa5757;
  padding: 8px;
  border: solid 1px #fa5757;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.landing-page__header .landing-page__nav-main .landing-page__navigation .landing-page__login:active, .landing-page__header .landing-page__nav-main .landing-page__navigation .landing-page__login:hover {
  background-color: transparent;
  color: #fa5757;
}

.landing-page__header .landing-page__mobile-nav {
  display: none;
}

.landing-page__hero {
  position: relative;
  margin: 70px auto;
}

.landing-page__hero .landing-page__intro {
  width: 80vw;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 0.7fr 1fr;
  justify-content: space-around;
  gap: 0 20px;
  align-items: center;
  font-family: Rubik, Arial;
}

.landing-page__hero .landing-page__intro .landing-page__info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.landing-page__hero .landing-page__intro .landing-page__info p {
  color: #b1b1b1;
  line-height: 28px;
}

.landing-page__hero .landing-page__intro .landing-page__info .extension-btn {
  display: flex;
  gap: 10px;
}

.landing-page__hero .landing-page__intro .landing-page__info .extension-btn a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #f1f1f1;
}

.landing-page__hero .landing-page__intro .landing-page__info .extension-btn .get-on-chrome {
  background-color: #5368df;
  color: #fff;
  padding: 10px;
  border: solid 2px #5368df;
}

.landing-page__hero .landing-page__intro .landing-page__info .extension-btn .get-on-chrome:hover, .landing-page__hero .landing-page__intro .landing-page__info .extension-btn .get-on-chrome:active {
  background-color: transparent;
  color: #5368df;
}

.landing-page__hero .landing-page__intro .landing-page__info .extension-btn .get-on-firefox {
  background-color: #e1e1e1;
  padding: 10px;
  border: solid 2px #e1e1e1;
}

.landing-page__hero .landing-page__intro .landing-page__info .extension-btn .get-on-firefox:hover, .landing-page__hero .landing-page__intro .landing-page__info .extension-btn .get-on-firefox:active {
  background-color: transparent;
  color: #b1b1b1;
}

.landing-page__hero .landing-page__intro .landing-page_intro-illustration {
  position: relative;
}

.landing-page__hero .landing-page__intro .landing-page_intro-illustration img {
  width: 100%;
}

.landing-page__hero::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 400px;
  height: 230px;
  background-color: #5368df;
  border-radius: 10pc 0 0 10pc;
}

.landing-page__features__hero .landing-page__features__wrapper {
  width: 80%;
  margin: 0 auto;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Rubik, Arial;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features p {
  width: 50%;
  font-size: 16px;
  color: #b1b1b1;
  line-height: 28px;
  text-indent: 1rem;
  text-align: center;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs {
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs {
  width: 75%;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 2px #b1b1b1;
  text-align: center;
  padding: 10px 0;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links a {
  text-decoration: none;
  color: #b1b1b1;
  font-family: Rubik, Arial;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links:active {
  border-bottom: solid 2px #fa5757;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links:active a {
  color: #000;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links:hover {
  border-bottom: solid 2px #fa5757;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links:hover a {
  color: #000;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links.indicator {
  border-bottom: solid 2px #fa5757;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs .tab-links.indicator a {
  color: #000;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main {
  margin: 20px 0;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  font-family: Rubik, Arial;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page_tab-illustration img {
  width: 90%;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info {
  display: flex;
  flex-direction: column;
  gap: 10px 0;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info p {
  line-height: 28px;
  width: 80%;
  color: #b1b1b1;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info .info-btn .more-info {
  text-decoration: none;
  color: #fff;
  background-color: #5368df;
  padding: 10px;
  border-radius: 5px;
  border: solid 2px #5368df;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info .info-btn .more-info:active {
  background-color: #fff;
  color: #5368df;
}
.landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info .info-btn .more-info:hover {
  background-color: #fff;
  color: #5368df;
}

.download-extension__wrapper {
  width: 80%;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.download-extension__wrapper .download-extension__info {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: Rubik, Arial;
}
.download-extension__wrapper .download-extension__info p {
  width: 55%;
  text-align: center;
  color: #b1b1b1;
  line-height: 27px;
}
.download-extension__wrapper .download-entension__cards {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 20px auto;
}
.download-extension__wrapper .download-entension__cards .Cards {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Rubik, Arial;
  box-shadow: 2px 2px 5px #e1e1e1, -2px 2px 5px #f1f1f1;
  border-radius: 5px;
}
.download-extension__wrapper .download-entension__cards .Cards span {
  color: #b1b1b1;
}
.download-extension__wrapper .download-entension__cards .Cards .add-links {
  margin: 10px 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../images/bg-dots.svg");
  background-repeat: no-repeat;
}
.download-extension__wrapper .download-entension__cards .Cards .add-links a {
  margin: auto;
  text-decoration: none;
  color: #fff;
  background-color: #5368df;
  padding: 5px;
  border-radius: 5px;
  border: solid 2px #5368df;
}
.download-extension__wrapper .download-entension__cards .Cards .add-links a:active {
  background-color: #fff;
  color: #5368df;
}
.download-extension__wrapper .download-entension__cards .Cards .add-links a:hover {
  background-color: #fff;
  color: #5368df;
}

.frequently-ask__qstns {
  width: 80%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.frequently-ask__qstns .frequently-ask__qstns__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Rubik, Arial;
}
.frequently-ask__qstns .frequently-ask__qstns__info p {
  width: 50%;
  color: #b1b1b1;
  text-align: center;
  line-height: 27px;
}
.frequently-ask__qstns .frequently-ask__qstns__list {
  width: 50%;
  margin: 10px auto;
}
.frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns {
  list-style: none;
  font-family: Rubik, Arial;
  cursor: pointer;
}
.frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns .qstns {
  margin: 15px;
  line-height: 26px;
}
.frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns .qstns .questions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns .qstns .questions i {
  color: #5368df;
  font-weight: bolder;
}
.frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns .qstns .answers {
  display: none;
  margin: 5px;
  color: #b1b1b1;
}
.frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns .qstns::selection {
  background-color: #fff;
}

footer {
  background-color: #5368df;
}
footer .landing-page__footer {
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
footer .landing-page__footer p {
  font-family: Rubik, Arial;
  text-align: center;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}
footer .landing-page__footer h2 {
  text-align: center;
  font-family: Rubik, Arial;
  color: #fff;
}
footer .landing-page__footer form {
  margin: 20px auto;
  display: flex;
  gap: 10px;
}
footer .landing-page__footer form [type=email] {
  outline: none;
  border: solid 1px #fff;
  padding: 10px;
  border-radius: 5px;
  font-family: Rubik, Arial;
}
footer .landing-page__footer form [type=email]::placeholder {
  color: #b1b1b1;
}
footer .landing-page__footer form [type=submit] {
  outline: none;
  border: solid 2px #fa5757;
  padding: 10px;
  background-color: #fa5757;
  border-radius: 5px;
  color: #fff;
}
footer .landing-page__footer form [type=submit]:active {
  background-color: #fff;
  color: #000;
}
footer .landing-page__footer form [type=submit]:hover {
  background-color: #fff;
  color: #000;
}

@media (max-width: 700px) {
  .landing-page__header .landing-page__nav-main {
    margin: 0 auto;
    padding: 5px;
  }
  .landing-page__header .landing-page__nav-main .landing-page_nav_togglers {
    display: block;
  }
  .landing-page__header .landing-page__nav-main .landing-page_nav_togglers #nav-closer {
    display: none;
  }
  .landing-page__header .landing-page__nav-main .landing-page__navigation {
    display: none;
  }
  .landing-page__header .landing-page__mobile-nav {
    width: 100vw;
    display: none;
    flex-direction: column;
    height: 90vh;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 0;
    align-items: center;
    background-color: rgba(37, 43, 70, 0.9);
    z-index: 999;
  }
  .landing-page__header .landing-page__mobile-nav .mobile-nav__links {
    width: 90%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .landing-page__header .landing-page__mobile-nav .mobile-nav__links a {
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 15px 0;
    border-left: none;
    border-right: none;
    border-bottom: solid 1px #fff;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: Rubik, Arial;
    letter-spacing: 1.2px;
    font-weight: 500;
  }
  .landing-page__header .landing-page__mobile-nav .mobile-nav__links .landing-page__login {
    width: 100%;
    outline: none;
    padding: 10px;
    border: solid 2px #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 5px;
  }
  .landing-page__header .landing-page__mobile-nav .social-links {
    height: 30%;
  }
  .landing-page__header .landing-page__mobile-nav .social-links a {
    margin: 0 10px;
  }

  .landing-page__hero {
    position: relative;
  }
  .landing-page__hero .landing-page__intro {
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    gap: 60px 0;
  }
  .landing-page__hero .landing-page__intro .landing-page__info {
    text-align: center;
    align-items: center;
  }
  .landing-page__hero::before {
    content: "";
    position: absolute;
    top: 8%;
    right: 0;
    width: 150px;
    height: 160px;
  }

  .landing-page__features__hero .landing-page__features__wrapper {
    width: 90%;
  }
  .landing-page__features__hero .landing-page__features__wrapper .landing-page__features p {
    width: 100%;
  }
  .landing-page__features__hero .landing-page__features__wrapper .landing-page__features__tabs .tabs {
    width: 90%;
    grid-template-columns: 1fr;
    margin: 0 20px 10px 0;
  }
  .landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page_tab-illustration img {
    width: 100%;
  }
  .landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info {
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px 0;
  }
  .landing-page__features__hero .landing-page__features__wrapper .landing-page__features__main .landing-page__features__tab .landing-page__tab__info p {
    width: 100%;
    text-align: center;
  }

  .download-extension__wrapper {
    width: 100%;
  }
  .download-extension__wrapper .download-extension__info p {
    width: 90%;
  }
  .download-extension__wrapper .download-entension__cards {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
  }

  .frequently-ask__qstns {
    width: 100%;
  }
  .frequently-ask__qstns .frequently-ask__qstns__info {
    justify-content: center;
    text-align: center;
  }
  .frequently-ask__qstns .frequently-ask__qstns__info p {
    width: 90%;
  }
  .frequently-ask__qstns .frequently-ask__qstns__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
  .frequently-ask__qstns .frequently-ask__qstns__list .fa-qstns {
    margin: 10px auto;
    padding: 10px;
  }

  footer .landing-page__footer form {
    flex-direction: column;
  }
}
@media (min-width: 770px) and (max-width: 1000px) {
  .landing-page__header .landing-page__nav-main {
    width: 90vw;
  }
  .landing-page__header .landing-page__nav-main .landing-page__navigation {
    width: 60%;
  }

  .landing-page__hero .landing-page__intro {
    width: 90vw;
  }
  .landing-page__hero::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 230px;
    background-color: #5368df;
    border-radius: 10pc 0 0 10pc;
  }

  .download-extension__wrapper {
    width: 100%;
  }
  .download-extension__wrapper .download-extension__info p {
    width: 90%;
  }
  .download-extension__wrapper .download-entension__cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px 0;
  }
  .download-extension__wrapper .download-entension__cards .Cards {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
